<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
<!-- But here we can actually use the engine as the inner bean andso it need not be used separately -->
<bean id="c3" class="beans.C" depends-on="c2"/>
<bean id="c2" class="beans.B" depends-on="c1"/>
<bean id="c1" class="beans.A" />



</beans>