<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
<!-- Implementing the static factory method to implement a Factory classes in Spring --> 


	<beans default-init-method="init" default-destroy-method="destroy">
<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"></bean>
 <bean id="cf" class="beans.Test">
 <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
 <property name="url" value="jdbc:mysql://localhost:3306/ita" />
 <property name="username" value="root"/>
 <!--  <property name="pwd" value="Dh@nu5h!&#038;&#038;&#038;"/> -->
 </bean>
 <bean id="cf1" class="beans.Test1"></bean>
 <bean id="cf2" class="beans.Test2"></bean>


</beans>