<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="b" class="business.Bank"/>
<bean id="lb" class="services.LogBeforeService"/>
<bean id="ab" class="services.LogAfterService"/>
<bean id="mi" class="services.LogAroundService"/>
<bean id="ex" class="services.LogInExceptionService"/>
<bean id="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
<property name="target" ref="b"></property>
<property name="interceptorNames">
<list>
<value>lb</value>
<value>ab</value>
<value>mi</value>
<value>ex</value>

</list>
</property>
</bean>


</beans>