<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean class ="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>			
<!-- But here we can actually use the engine as the inner bean andso it need not be used separately -->
<bean id="e" class="beans.Engine">
<property name="model">
<value>A50</value>
</property>
</bean>
<bean id="cc" class="beans.Car" >
<property name="name">

<value>BEnz</value>
</property>

<property name="engine" ref="e"/>


</bean>
</beans>