<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:p="http://www.springframework.org/schema/p" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <!-- Default handler
<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

-->
 <!-- Here the Default hander mapping is been used -->
<bean name="/hello.ds" class="controller.HelloSpring" />
<bean name="/game.ds" class="controller.HelloGame" />
 <!-- After handlings request to map the output to the particular View we need to configure using ViewResolver -->

 <bean name="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
	<property name="prefix">
		<value>/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean> 

 </beans>