<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"https://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
<!-- Implementing the static factory method to implement a Factory classes in Spring --> 

<bean class="org.springframework.beans.factory.config.MethodInvokingBean">
<property name="staticMethod" value="beans.CarFactory.setCarName" />
	<property name="arguments" >
	<list>
	<!-- Need to mention FQ name -->
	<value>beans.Audi</value>
	</list>	
	</property>	
	</bean> 	
	<bean id="cf" class="beans.CarFactory" factory-method="getCar">
	</bean>
	
	<!--  
 <bean id="cf" class="CarFactory" >
 <property name="carName">
 <value>beans.Audi</value>
 </property>
 </bean>
 <bean id="c" factory-bean="cf" factory-method="getCar"></bean>
-->
</beans>